html {
    display: flex;
    justify-content: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(13, 12, 12);
    text-align: center;
}

.header {
    color: #fff;
    background: #000;
    width: 900px;
    height: 80px;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0px 5px;
}

.menu {
    list-style-type: none;
    display: flex;
    padding: 6px 0px;
    margi: 0px 10px;
}

a {
    color: white;
}

.menu li {
    align-items: center;
    color: #fff;
}

.menu a {
    margin-right: 5px;
    padding: 10px;
    border-radius: 10%;
    max-width: max-content;
    text-decoration: none;
}

.menu a:hover {
    color: rgb(0, 0, 0);
    background: #ffff00;
}

h2 {
    text-transform: uppercase;
    color: #fff;
    padding-top: 40px;
    margin-bottom: 50px;
    font-size: 40px;
}

.conteudo li {
    display: list-item;
}

.conteudo {
    line-height: 25px;
    font-size: 10px;
    color:#fff;
    text-align: left;
}

.tittle {
    padding: 7px 0px;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    border-bottom: 3px solid  #ffff00;
    margin: 15px 20px;
    text-align: left;
}

.preco {
    color:#fff;
    font-size: 25px;
    text-align: left;
}

.tempo {
    text-align: left;
    color:#fff;
    font-size: 10px;
}

.preco , .tempo {
    display: inline-block;
}

.planos {
    display: flex;
    justify-content: space-between;
}

.tamanho_basico {
    width: 290px;
    background: #444343;
    display: inline-block;
}

.assine {
    padding: 20px;
    width: 200px;
    background: #ffff00;
    text-transform: uppercase;
    border-radius: 10px;
    font-style: none;
}

.assine a:hover {
    text-decoration: none;
    color: #000;
}