*,
*:after,
*:before {
 margin: 0;
 padding: 0;
 border: 0;
 vertical-align: baseline;
 box-sizing: border-box;
}

body {
 font-family: Georgia, 'Times New Roman', Times, serif;
 background-image: url(../IMG/bg-unsplash-2x.png);
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 100vh;
 width:100%;
}

.container-image {
 height: 10rem;
}

.menu-image {
 background-image: url(../IMG/perfil.png);
 height: 6rem;
 width: 6rem;
 background-size: cover;
}

.menu-left {
width: 25%;
height: 100vh;
background: rgba(0, 0, 0, .8);
}

.menu-left {
 display: flex;
 flex-direction: column;
 align-items: end;
 text-align: end;
 padding: 18px;
}

.container-image {
 height: 8rem;
 width: 8rem;
}

ul {
margin: 1.3rem 0;
}

li {
 list-style: none;
 width: 13rem;
 border-bottom: 1px solid rgba(228, 203, 203, 0.13);
 padding: 4px;
}

a {
 color: white;
 text-decoration: none;
 display: block;
 padding: 10px 0;
 transition: padding-right .2s, background-color .4s;
}

a:hover {
 color: black;
  rgb(204, 187, 187);
  background-color:  rgb(204, 187, 187);
  padding-right: 8px;
}

.margin-bot-2rem {
 margin-bottom: 2rem;
}